body {background-color: #103f79;}

.navbar navbar-expand-lg #f3b229 {
    color:#103f79
    

}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.escudoboca {
    position: absolute;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}




.container-fluid {
    
    color:#103f79 ;
    font-size:x-large;
    
    
} 

h2 {color: whitesmoke}

h3 {color:#103f79 }


#tablajugadores {
    color: white;
    border: 2px solid white;
    margin-top: 25px;
}







#TabladeJugadores {
    padding-left: 50px;
    display: inline-block;
}


  
  
 

.contenedor {
    position: relative;
    width: 300px; /* Ajusta el ancho y el alto según tus necesidades */
    height: 200px;
    overflow: hidden;
}

.imagen {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.texto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0074D9; /* Fondo azul */
    color: #fff; /* Letra en blanco */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.contenedor:hover .imagen {
    transform: scale(1.1); /* Cambia la escala de la imagen al 110% en el hover */
}

.contenedor:hover .texto {
    opacity: 1; /* Muestra el texto en hover */
}


#fotoplantel {
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#textoFormaciones {
    color: #f3b229;

}

.consultas{
    margin-left: 25px;
    margin-right: 25px;
}

.carousel > .carousel-inner > .carousel-item > img{
    width:150px; /* Yeap you can change the width and height*/
    height:500px;


}

#carouselExampleAutoplaying {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
}

#Footer {
    background-color: #f3b229;
    color: #103f79;
    

}

.lista-redes-sociales {
        color: #103f79;

}



.navbar {
    background-color: #f3b229;
}


.titulo-final{
    text-align: center;
    color: #103f79;
}

:root{
    --facebook: #3b5999;
    --instagram: #e4405f;
    --whatsapp: #25d366;
    --twitter:  #1DA1F2;
    --directv: #1DA1F2
}

.redes-conteiner{
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}

.redes-conteiner ul li{
    display: inline-block;
    margin: 0 5px;
    width:50px;
    height:50px;
    text-align: center;
}

.redes-conteiner ul li a{
    display: block;
    padding: 0 10px;
    background: #103f79;
    color:#f3b229;
    line-height: 50px;
    font-size: 25px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
    transition: .2s;

}

.redes-conteiner ul:hover a{
    filter:blur(2px);
}

.redes-conteiner ul li a:hover{
    transform: translateY(-3px)scale(1.05);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.4);
    filter: none;
}

.redes-conteiner ul li .facebook:hover{
    background: var(--facebook);
}
.redes-conteiner ul li .instagram:hover{
    background: var(--instagram);
}
.redes-conteiner ul li .whatsapp:hover{
    background: var(--whatsapp);
}
.redes-conteiner ul li .twitter:hover{
    background: var(--twitter);
}


.fotossponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hace que el contenedor ocupe el 100% de la altura de la pantalla */
  }

  .fotossponsors img {
    max-width: 100%; /* Hace que la imagen sea responsiva y no se desborde del contenedor */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
    display: block;
  }



.mail{
    text-decoration: none;
    color: #FAFAFA;
}

-- plantel profesional

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . ."
      ". Romero ronca saracchi figal ."
      ". bull rojo chango pol ."
      ". pipa cava janson brey ."
      ". javi valentini bestia advincula ."
      ". fabra colo ramirez equi ."
      ". puplo valdez briassco genez ."
      ". medina anselmino taborda di-lollo ."
      ". langoni blondel campu weigan ."
      ". . . . . .";
  }
  
  .Romero { grid-area: Romero; }
  
  .ronca { grid-area: ronca; }
  
  .saracchi { grid-area: saracchi; }
  
  .figal { grid-area: figal; }
  
  .bull { grid-area: bull; }
  
  .rojo { grid-area: rojo; }
  
  .chango { grid-area: chango; }
  
  .pol { grid-area: pol; }
  
  .pipa { grid-area: pipa; }
  
  .cava { grid-area: cava; }
  
  .janson { grid-area: janson; }
  
  .brey { grid-area: brey; }
  
  .javi { grid-area: javi; }
  
  .valentini { grid-area: valentini; }
  
  .bestia { grid-area: bestia; }
  
  .advincula { grid-area: advincula; }
  
  .fabra { grid-area: fabra; }
  
  .colo { grid-area: colo; }
  
  .ramirez { grid-area: ramirez; }
  
  .equi { grid-area: equi; }
  
  .puplo { grid-area: puplo; }
  
  .valdez { grid-area: valdez; }
  
  .briassco { grid-area: briassco; }
  
  .genez { grid-area: genez; }
  
  .medina { grid-area: medina; }
  
  .anselmino { grid-area: anselmino; }
  
  .taborda { grid-area: taborda; }
  
  .di-lollo { grid-area: di-lollo; }
  
  .langoni { grid-area: langoni; }
  
  .blondel { grid-area: blondel; }
  
  .campu { grid-area: campu; }
  
  .weigan { grid-area: weigan; }


  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: stretch; 
  }

  .container > div {
    flex: 1 0 calc(25% - 20px);
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
  }

  .container img {
    width: 100%;
    height: auto;
    display: block;
  }

  .texto-superpuesto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: white;
    font-size: 16px;
    background-color: #103f79;
    padding: 10px;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none; 
  }

  .container > div:hover .texto-superpuesto {
    opacity: 85%;
  }


-- formaciones historicas

